<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta title="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>购物车之组件配合</title>
    <script src="./vue.js"></script>
    <style>
        #app{
            width: 850px;
            margin: 0 auto;
            border-top: 2px solid red;
            border-bottom: 2px solid red;
        }
        .kk{
            display: flex;
            justify-content: space-around;
        }
       .choose{
           width: 210px;
           height: 140px;
       }

    </style>
</head>
<body>
    <div id="app">
        <p>单击选择您要购买的商品：</p>
        <!-- 图片 -->
        <div class="kk">
            <div v-for="item,index in goods">
                <img :src="item.url" alt="" :title="item.title" :price="item.price" @click="addShop" class="choose">
            </div>
        </div>
        <!-- 购物表格 -->
        <div style="text-align: center">
            <table>
                <thead>
                    <tr>
                        <th style="width:100px;">id</th>
                        <th style="width:200px;">商品</th>
                        <th style="width:100px;">单价</th>
                        <th style="width:150px;">数量</th>
                        <th style="width:100px;">总金额</th>
                        <th style="width:100px;">删除</th>
                    </tr>
                </thead>
                <tbody v-if="arr.length">
                    <tr v-for="item,index in arr">
                        <!-- {{item}} -->
                        <shop-tr :index="index" :item="item">

                        </shop-tr>
                    </tr>
                </tbody>
                
            </table>
        </div>
        <div>
            <p>
                <span>全选</span>
                <span @click="clearAll">取消全选</span>
            </p>
            
            <p>
                <span>结账</span>
                <span>￥{{ReduceShop}}</span>
            </p>
        </div>
        
    </div>
    <script>
        Vue.component("ShopTr",{
            props:["item","index"],
            template:`<a>
                            <td style="width:100px;">{{index+1}}</td>
                            <td style="width:200px;">
                                {{item.title}}
                            </td>
                            <td style="width:150px;">￥{{item.price}}</td>
                            <td style="width:150px;">
                                <button>-</button>
                                {{item.num}}
                                <button @click="add(index)">+</button>
                            </td>
                            <td style="width:150px;">￥{{item.total}}</td>
                            <td style="width:100px;">删除</td>
                        </a>
                        `
        })
        let app=new Vue({
            el:"#app",
            data:{
                goods: [
                    {
                        id:"0",
                        url: "./img/1.png",
                        title: "无线鼠标",
                        zeng1:'赠品：',
                        zeng2:'鼠标垫',
                        price: "20.00",
                        num:1,
                        total:20

                    },
                    {
                        id:"1",
                        url: "./img/2.png",
                        title: "键盘",
                        zeng1:'赠品：',
                        zeng2:'旅行小样',
                        price: "60.00",
                        num:1,
                        total:60
                    },
                    {
                        id:"3",
                        url: "./img/3.png",
                        title: "U盘",
                        zeng1:'赠品：',
                        zeng2:'鞋带',
                        price: "25.00",
                        num:1,
                        total:25
                    }
                ],
                arr:[]
            },
            methods:{
                // 添加商品
                addShop(){
                    // 到底这个对象都有什么属性
                    // {img,单价，数量，总金额，商品信息}
                    // console.log(event.target.getAttribute("price"));
                    // return;
                    // console.log(event.target);
                    let {src:url,title}=event.target;
                    let bol=this.arr.filter((item)=>{
                        return item.title===title
                    });
                    console.log(bol);
                    if(!bol.length){
                        this.arr.push({
                            url,
                            title,
                            price: event.target.getAttribute("price"),
                            num:1,
                            total:event.target.getAttribute("price")
                        });
                    }
                },
                // 全选
                selectAll(){

                },
                // 取消
                clearAll(){
                    this.arr=[];
                },
                // 添加数量
                add(num){
                    this.arr[num].num+=1;
                    this.arr[num].total=this.arr[num].num*this.arr[num].price;
                }
                
            },
            // 求和
            computed:{
                ReduceShop(){
                    let total=0;
                    this.arr.forEach(element => {
                        total+=element.total*1;
                    });
                    return total;
                }    
            }
        })
    </script>
</body>
</html>