<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>计算属性</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="a">
        <input type="text" v-model="b">
        <!-- 方法：输出的是一个数值 -->
        {{fn()}}
        <h1>{{c}}</h1>
        <!-- 为什么这边不加括号？作者就这样规定的 -->
        {{Fn}}
    </div>
    <script>
        let app=new Vue({
            el:"#app",
            data:{
                a:0,
                b:0,
                c:1000
            },
            methods:{
                fn(){
                    console.log("我被触发了！")
                    return this.a+this.b
                } 
            },
            computed:{
                Fn(){
                    console.log("我很厉害的！");
                    return this.a+this.b;
                }
            }
        })
    </script>
</body>
</html>