<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-module</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <input v-model="firstName" type="text" name="">
        <input v-model="lastName" type="text" name="">
        {{firstName+lastName}}
    </div>
    <script>
        window.onload=()=>{
            let app=new Vue({
                el:"#app",
                data:{
                    firstName:"",
                    lastName:""
                }
            })
        }
    </script>
    
</body>
</html>